<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.test.currencyassistant">


    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/ChocoDrawerTheme"
        android:supportsRtl="true">

        <activity
            android:name=".presentation.base.BaseActivity"
            android:theme="@style/ChocoDrawerTheme" />

        <activity
            android:theme="@style/ChocoTheme.WhiteBG"
            android:name=".presentation.activity.CurrencyActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>